NODE_ENV=development
NETWORK=testnet
PORT=8080

PASSWORDPROTECTION=false

DB_AUTH=
DB_HOST=localhost
DB_PORT=6379

FEE=2

MAXREQUESTRATE=20

LOGLEVEL_DEBUG=comma,separated,list,of,categories
LOGLEVEL_INFO=
LOGLEVEL_HTTP=
LOGLEVEL_WARN=
LOGLEVEL_ERROR=

BITCOINRPCURL=127.0.0.1
BITCOINRPCPORT=18443
BITCOINRPCUSER=peachreg
BITCOINRPCPASS=peachreg