[Unit]
Description=electrs
After=network.target
[Service]
ExecStart=/usr/local/bin/electrs -vvvv --daemon-dir /home/bitcoin/.bitcoin --daemon-rpc-addr="127.0.0.1:8332" --db-dir="/mnt/blockstorage/electrs-db" --electrum-rpc-addr="127.0.0.1:60401" --timestamp=true --http-addr=127.0.0.1:3000
RuntimeDirectory=electrs
User=bitcoin
Type=simple
Restart=on-failure

# Increase limits for initial sync
LimitNOFILE=65536

# Hardening measures
####################
# Provide a private /tmp and /var/tmp.
PrivateTmp=true
# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full
# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true
# Use a new /dev namespace only populated with API pseudo devices
# such as /dev/null, /dev/zero and /dev/random.
PrivateDevices=true
# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true
[Install]
WantedBy=multi-user.target
